* {
  text-decoration: none;
}

.arTemplate {
  display: none;
}

.navContainer {
background: -webkit-linear-gradient(left, #36CD97 , #58AEE8); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #36CD97, #58AEE8); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #36CD97, #58AEE8); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #36CD97 , #58AEE8); /* Standard syntax (must be last) */
border-radius: 10px;
}

nav {
  text-align: center;
  margin: 0px;
  padding: 25px;

}

nav ul li {
  display: inline-block;
  padding: 0 6% 0 6%;
  color: #FFFFFF;
  font-size: 1.6em;
  font-family: Calibri, Arial, sans-serif
}

nav ul li:hover {
  font-weight: bolder;
}

a {
  color: #FFFFFF;
}

.filters {
  text-align: center;
  margin: 10px;
}

#articles, #aboutMe {
  margin-top: 20px;
}

#aboutMe h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

body {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

.byline {
  color: grey;
  font-size: .8em;
}

.pull-right, .pull-left {
  max-width: 340px;
  max-height: 340px;
}
